nav .navbar-brand{
    /* size for brand */
    font-size: xx-large;
}
nav .navbar-brand .color{
    /* colors for brand */
    color: #ff5454;
}
main .form-control{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}
main{
    /* scroll horizontally */
    overflow-x: auto;

    text-align: center;
}
main img{
    /* mobile-responsive */
    max-width: 100%;
}
