{% extends "layout.html" %} {% block title %} Buy {% endblock %} {% block main %}
<form action="/buy" method="post">
	<div>
		<input autofocus class="form-control" name="symbol" placeholder="Symbol" type="text" />
	</div>
	<div>
		<select class="form-control" name="queryType">
			<option disabled selected value="">Type</option>
			<option value="stock">Stock</option>
			<option value="crypto">Crypto</option>
		</select>
	</div>
	<div>
		<input class="form-control" name="shares" placeholder="Shares" type="text" />
	</div>
	<button onclick="alpha()" type="submit">Buy</button>
</form>
<script type="text/javascript" src="{{ url_for('static', filename='alpha.js') }}">
</script>
{% endblock %}