{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.date }}</td>
                <td>{{ record.symbol }}</td>
                <td>{{ record.shares }}</td>
                <td>{{ record.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}